body{
    margin: 0;
}

/* --------------- Header --------------- */
header {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -34px 60px #000;
}
.boxLogo {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}
.boxLogo-img {
    width: 70%;
}
@media (max-width:1024px) {
    .boxLogo-img {
        width: 62%;
    }
}
.navegation {
    width: 57%;
    display: flex;
    align-items: center;
}
@media (max-width:1024px){
    .navegation {
        width: 50%;
    }
}
.navegatio-boxList {
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.itemPosition {
    width: 13%;
    display: flex;
    justify-content: flex-end;
}
.linkPosition {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.itemList-imgPaws {
    position: absolute;
    width: 2%;
}
.itemList-link {
    font-size: 1.6rem;
    text-decoration: none;
    color: #00CA88;
    font-family: 'urbane-rounded';
    font-weight: 700;
}
@media (max-width:1024px) {
    .itemList-link {
        font-size: 1rem;
    }
}

/* --------------- Home --------------- */
.containerOpacity {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 89vh;
    background-color: rgba(0, 183, 122, 0.4);
}
.sectionHome {
    z-index: -2;
    position: relative;
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-image: url('./img/Cao7.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}  
.sectionHome-boxContato {
    z-index: -1;
    position: relative;
    width: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boxContato-boxImgMedia {
    height: 32%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 0 .5rem 0;
}
@media (max-width:1024px) {
    .boxContato-boxImgMedia {
        height: 34%;
    }
}
.boxImgMedia-item {
    width: 95%;
    padding-bottom: 2rem
}
@media (max-width:1024px) {
    .boxImgMedia-item {
        width: 63%;
        padding-bottom: 1.5rem
    }
}
.boxImgMedia-lineVertical {
    width: 1px;
    height: 23%;
    background-color: #ffffff;
}
@media (max-width:1024px) {
    /* .boxImgMedia-lineVertical {
        height: 20%;
    } */
}
.boxImgMedia-emailText {
    font-family: 'urbane-rounded';
    font-size: 1.3rem;
    font-weight: 700;
    color:#ffffff;
    margin-top:2rem;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
}
@media (max-width:1024px) {
    .boxImgMedia-emailText {
        font-size: .8rem;
    }
}
.sectionHome-boxHome {
    width: 90%;
    height: 54%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boxHome-boxText {
    height: 52%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
@media (max-width:1024px) {
    .boxHome-boxText {
        height: 54%;
    }
}
.boxText-paragraph {
    width: 80%;
    font-size: 1.7rem;
    text-align: center;
    padding:  .9rem 0 0 0;
    margin: 0;
    color:#ffffff;
}
@media (max-width:1024px) {
    .boxText-paragraph {
        /* width: 75%; */
        font-size: 1.2rem;
    }
}
.boxText-title {
    font-family: 'urbane-rounded';
    font-size: 5rem;
    color: #ffffff;
    margin: 0;
}
@media (max-width:1024px) {
    .boxText-title {
        font-size: 3.7rem;
    }
}
.boxHome-boxButons {
    width: 71%;
    height: 33%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.boxButons-firstButton {
    width: 29%;
    height: 59%;
    margin-right: 2rem;
    border-radius: 50px;
    border-width: 0;
    background-color: #00CA88;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    box-shadow: 0px 16px 23px -20px #000;
}
@media (max-width:1024px) {
    .boxButons-firstButton {
        font-size: 1rem;
    }
}
.boxButons-secondButton {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border-width: 0;
    background-color: #fff;
    color: #00CA88;
    font-size: 1.4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    box-shadow: 0px 16px 23px -20px #000;
}
@media (max-width:1024px) {
    .boxButons-secondButton {
        font-size: 1rem;
    }
}
.linkAdopt {
    width: 40%;
    height: 62%;
}

/* --------------- About --------------- */
.sectionAbout {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4rem;
}
.sectionAbout-boxInfo {
    width: 50%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4rem;
}
.boxInfo-title {
    font-size: 4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    color: #00CA88;
    margin: 0;
}
@media (max-width:1024px) {
    .boxInfo-title {
        font-size: 3rem;
    }
}
.boxInfo-paragraphBox {
    width: 72%;
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.paragraphBox-txt {
    width: 100%;
    font-size: 1.1rem;
    margin: 0;
}
@media (max-width:1024px) {
    .paragraphBox-txt {
        font-size: .78rem;
    }
}
.boxInfo-button {
    width: 56%;
    height: 100%;
    margin-left: 1.2rem;
    border-radius: 50px;
    border-width: 0;
    background-color: #00CA88;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    box-shadow: 0px 16px 23px -20px #000;
    outline: none;
}
@media (max-width:1024px) {
    .boxInfo-button {
        font-size: 1rem;
    }
}
.linkSejaVoluntario {
    height: 11%;
    text-decoration: none;
    color: #fff
}
.sectionAbout-boxImagCircles {
    width: 50%;
    height: 83%;
}
.boxImagCircles-img {
    z-index: 0;
    position: absolute;
    width: 27%;
    margin: 7rem 0 0 0 ;
}
.boxImagCircles-boxCirclesAbout {
    position: relative;
    z-index: -1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.boxCirclesAbout-first {
    width: 17%;
    height: 13vh;
    align-self: center;
    background-color: #00CA88;
    border-radius: 50%;
    opacity: 0.45;
    margin-top: 4rem;
}
@media (max-width:1024px) {
    .boxCirclesAbout-first {
        margin-top: 5rem;
    }
}
.boxCirclesAbout-second {
    width: 37%;
    height: 27vh;
    margin: 7rem 0 0 5rem;
    align-self: center;
    background-color: #00CA88;
    border-radius: 50%;
    opacity: 0.70;
}
.boxCirclesAbout-third {
    width: 10%;
    height: 7vh;
    align-self: center;
    background-color: #00CA88;
    border-radius: 50%;
    opacity: 0.18;
    margin: 0 17rem 0 0;
}

/* --------------- Adopt --------------- */
.sectionAdopt {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00CA88;
}
.sectionAdopt-boxFirst {
    height: 48%;
    display: flex;
    align-items: center;
    flex-direction: row; 
}
.boxFirst-boxInfoAdopt {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 8rem;
}
@media (max-width:1024px) {
    .boxFirst-boxInfoAdopt {
        padding-left: 5rem;
        height: 75%;
    }
}
.boxInfoAdopt-title {
    font-size: 4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
@media (max-width:1024px){
    .boxInfoAdopt-title {
        font-size: 3rem;
    }
}
.boxInfoAdopt-paragraph {
    width: 64%;
    margin: 0;
    font-size: 1.1rem;
    color: #ffffff;
}
@media (max-width:1024px) {
    .boxInfoAdopt-paragraph {
        font-size: .78rem;
    }
}
.boxFirst-boxCirclesAdopt {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.boxCirclesAdopt-first {
    width: 17%;
    height: 14vh;
    align-self: center;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.30;
    margin-bottom: 4rem;
}
.boxCirclesAdopt-second {
    width: 37%;
    height: 28vh;
    align-self: center;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.60;
    margin-bottom: 4rem;
}
.sectionAdopt-boxSlide {
    z-index: 0;
    width: 88%;
    height: 50%;
    display: flex;
    align-self: center;
    flex-direction: row;
}
.boxSlide-arowLeft {
    display: none;
    padding-bottom: 10rem;
}
@media (max-width:1024px) {
    .boxSlide-arowLeft {
        padding-bottom: 8rem;
    }
}
.boxSlide-boxFrame {
    z-index: -1;
    position: absolute;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem 0 0 4.2rem;
}
@media (max-width:1024px) {
    .boxSlide-boxFrame {
        width: 79%;
        margin: 1rem 0 0 3.2rem;
    }
}
.boxSlide-boxAdoptDog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxAdoptDog-boxImgDog {
    width: 70%;
}
@media (max-width:1024px) {
    .boxAdoptDog-boxImgDog {
        width: 65%;
    }
}
.frames {
    width: 18%;
    height: 23vh;
    border-radius: 12px;
    border: solid 5px;
    border-color: #fff;
}
@media (max-width:1024px) {
    .frames {
        width: 17%;
        height: 22vh;
        border-width: 3px;
    }
}
.boxSlide-arowRight {
    display: block;
    padding-bottom: 10rem;
}
@media (max-width:1024px) {
    .boxSlide-arowRight {
        padding-bottom: 8rem;
    }
}
.boxImgDog-img {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 24vh;
    border-radius: 12px;
}
.boxAdoptDog-textName {
    margin: 3rem 0 0 0;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
}
.boxAdoptDog-textAge {
    color: #fff;
    font-family: 'urbane-rounded';
}

/* --------------- Footer --------------- */
.footer {
    height: 43vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-imgLogo {
    width: 30%;
}
@media (max-width:1024px) {
    .footer-imgLogo {
        width: 25%;
    }
}
.footer-boxContacts {
    width: 23%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxContacts-boxImgContacts {
    width: 38%;
    display: flex;
    justify-content: space-between;
    margin:  0;
}
@media (max-width:1024px) {
    .boxImgContacts-item {
        width: 25%;
    }
}
.boxContacts-emailText {
    font-family: 'urbane-rounded';
    font-weight: 700;
    font-size: 1.3rem;
    color: #00CA88;
    margin: 0;
}
@media (max-width:1024px) {
    .boxContacts-emailText {
        font-size: 1rem;
    }
}
.boxContacts-endText {
    font-family: 'urbane-rounded';
    font-weight: 700;
    font-size: 1.3rem;
    color: #00CA88;
    margin: 0;
}
@media (max-width:1024px) {
    .boxContacts-endText {
        font-size:1rem;
    }
}

.footer-boxListFooter {
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    border: solid 3px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: #00CA88;
}
.boxListFooter-boxList {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-link {
    font-family: 'urbane-rounded';
    font-weight: 700;
    font-size: 1.3rem;
    color: #00CA88;
    text-decoration: none;
}
@media (max-width:1024px) {
    .item-link {
        font-size: 1rem;
    }
}

/* --------------- Seja Voluntario --------------- */
.backgroundGreen {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93e1c7;
}
.backgroundGreen-modalBox {
    width: 50%;
    height: 90%;
    background-color: #fff;
    border-radius: 20px;
}
.modalBox-closeBox {
    width: 96%;
    height: 10%;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
}
.a {
    width: 4%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
}
.closeIcon {
    width: 100%;
}
.modalBox-voluntario {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.voluntario-infoBox {
    width: 84%;
    height: 55%;
}
.infoBox-title {
    height: 30%;
    font-family: 'urbane-rounded';
    font-weight: 700;
    font-size: 3rem;
    color: #00CA88;
    margin: 0;
}
.infoBox-paragraph {
    width: 82%;
    font-size: 1.3rem;
    margin: 0;
}
.voluntario-form {
    width: 84%;
    height: 62%;
}
.form-boxInput {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.boxInput-nameItem {
    width: 71%;
}
.boxInput-idadeItem {
    width: 24%;
}
.boxInput-emailItem {
    width: 100%;
}
.txtArea {
    height: 30%;
    border: solid 1px;
    outline: none;
    border-radius: 50px;
    font-size: 1.4rem;
    text-align: center;
}