body{
    margin: 0;
}

/* --------------- Header --------------- */
header {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -34px 60px #000;
}
.boxLogo {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}
.boxLogo-img {
    width: 70%;
}
.navegation {
    width: 58%;
    display: flex;
    align-items: center;
}
.navegatio-boxList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.itemPosition {
    width: 97px;
    display: flex;
    justify-content: flex-end;
}
.linkPosition {
    width: 94%;
    display: flex;
    justify-content: flex-start;
}
.itemList-imgPaws {
    position: absolute;
    width: 18px;
    /* right: 2px */
    /* top:-1px */
    /* bottom: 20px; */
}
.itemList-link {
    font-size: 1.6rem;
    text-decoration: none;
    color: #00CA88;
    font-family: 'urbane-rounded';
    font-weight: 700;
}

/* --------------- Home --------------- */
.containerOpacity {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 89vh;
    background-color: rgba(0, 183, 122, 0.4);
}
.sectionHome {
    z-index: -2;
    position: relative;
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-image: url('./img/Cao7.png');
    background-size: 100%;
    background-repeat: no-repeat;
    
}  
.sectionHome-boxContato {
    z-index: -1;
    position: relative;
    width: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boxContato-boxImgMedia {
    height: 32%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 0 .5rem 0;
}
.boxImgMedia-item {
    width: 32px;
    padding-bottom: 2rem
}
.boxImgMedia-lineVertical {
    width: 1px;
    height: 23%;
    background-color: #ffffff;
}
.boxImgMedia-emailText {
    font-family: 'urbane-rounded';
    font-size: 1.3rem;
    font-weight: 700;
    color:#ffffff;
    margin-top:2rem;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
}
.sectionHome-boxHome {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boxHome-boxText {
    height: 52%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.boxText-paragraph {
    width: 80%;
    font-size: 1.7rem;
    text-align: center;
    padding:  .9rem 0 0 0;
    margin: 0;
    color:#ffffff;
}
.boxText-title {
    font-family: 'urbane-rounded';
    font-size: 5rem;
    color: #ffffff;
    margin: 0;
}
.boxHome-boxButons {
    width: 71%;
    height: 33%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.boxButons-firstButton {
    width: 29%;
    height: 59%;
    margin-right: 2rem;
    border-radius: 50px;
    border-width: 0;
    background-color: #00CA88;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    box-shadow: 0px 16px 23px -20px #000;
}
.boxButons-secondButton {
    width: 46%;
    height: 59%;
    border-radius: 50px;
    border-width: 0;
    background-color: #fff;
    color: #00CA88;
    font-size: 1.4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    box-shadow: 0px 16px 23px -20px #000;
}

/* --------------- About --------------- */
.sectionAbout {
    height: 89vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.sectionAbout-boxInfo {
    width: 50%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4rem;
}
.boxInfo-title {
    font-size: 4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    color: #00CA88;
    margin: 0;
}
.boxInfo-paragraphBox {
    width: 72%;
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.paragraphBox-txt {
    width: 100%;
    font-size: 1.1rem;
    margin: 0;
}
.boxInfo-button {
    width: 56%;
    height: 11%;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    border-radius: 50px;
    border-width: 0;
    background-color: #00CA88;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    box-shadow: 0px 16px 23px -20px #000;
}
.sectionAbout-boxImagCircles {
    width: 50%;
    height: 83%;
}
.boxImagCircles-img {
    z-index: 0;
    position: absolute;
    margin: 7rem 0 0 0 ;
}
.boxImagCircles-boxCirclesAbout {
    position: relative;
    z-index: -1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.boxCirclesAbout-first {
    width: 17%;
    height: 13vh;
    align-self: center;
    background-color: #00CA88;
    border-radius: 50%;
    opacity: 0.45;
}
.boxCirclesAbout-second {
    width: 37%;
    height: 27vh;
    margin: 10rem 0 0 10rem;
    align-self: center;
    background-color: #00CA88;
    border-radius: 50%;
    opacity: 0.70;
}
.boxCirclesAbout-third {
    width: 10%;
    height: 7vh;
    align-self: center;
    background-color: #00CA88;
    border-radius: 50%;
    opacity: 0.18;
    margin: 0 17rem 0 0;
}

/* --------------- Adopt --------------- */
.sectionAdopt {
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00CA88;
}
.sectionAdopt-boxFirst {
    height: 48%;
    display: flex;
    align-items: center;
    flex-direction: row; 
}
.boxFirst-boxInfoAdopt {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 8rem;
}
.boxInfoAdopt-title {
    font-size: 4rem;
    font-family: 'urbane-rounded';
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
.boxInfoAdopt-paragraph {
    width: 64%;
    margin: 0;
    font-size: 1.1rem;
    color: #ffffff;
}
.boxFirst-boxCirclesAdopt {
    width: 50%;
    height: 100%;
}
.sectionAdopt-boxSlide {
    height: 50%;
    display: flex;
    flex-direction: row;
}
.boxSlide-boxAdoptDog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxAdoptDog-boxImgDog {
    width: 70%;
}

.frames {
    z-index: 0;
    position: absolute;
    width: 16%;
    height: 24vh;
    border-radius: 12px;
    border: solid 5px;
    border-color: #fff;
}
.boxImgDog-frameFirst {
    top: 125rem;
    left: 5rem;
}
.boxImgDog-frameSecond {
    top: 125rem;
    left: 27rem;
}
.boxImgDog-frameThird {
    top: 125rem;
    left: 49.2rem;
}
.boxImgDog-frameFourth {
    top: 125rem;
    left: 71.3rem;
}
.boxImgDog-img {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 24vh;
    border-radius: 12px;
}
